<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Hi <%= @user.full_name %></h1>
    <p>
      Your account with us has been removed.
    </p>
    <p>Cheers, <br>
      The Rotten Mangoes team
    </p>
  </body>
</html>