<div class='container'>

<div class='row section'>
  <div class='col s12'>
    <% if @query %>
      <h4>Search Results</h4>
    <% else %>
      <h4>Movies Catalogue</h4>
    <% end %>
    <div class='row list-movies section'>
      <% @movies.each do |movie| %>
        <%= render 'movie', movie: movie %>
      <% end %>
    </div>
  </div>
</div>

</div>