<div class='container'>

<div class='row section'>
  <div class='col s12'>
    <h4>Movies Catalogue</h4>
    <div class='row list-movies section'>
      <% @movies.each do |movie| %>
        <%= render 'movie', movie: movie %>
      <% end %>
    </div>
  </div>
</div>

</div>