<div class='container'>

<div class='row section'>
  <div class='col s12'>
    <h4>In Theaters</h4>
    <div class='row list-movies section'>
      <% @movies.recent.each do |movie| %>
        <%= render '/movies/movie', movie: movie %>
      <% end %>
    </div>
  </div>
</div>

<div class='row section'>
  <div class='col s12'>
    <h4>Classics</h4>
    <div class='row list-movies section'>
      <% @movies.classics.each do |movie| %>
        <%= render '/movies/movie', movie: movie %>
      <% end %>
    </div>
  </div>
</div>

</div>