<footer class='page-footer'>
  <div class="footer-copyright">
    <div class="container">
      <span>2016 <i class='material-icons tiny'>face</i> Jonathan Morrissey, Styled with Materialize.</span>
    </div>
  </div>
</footer>