<header>
  <nav>
    <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Rotten Mangoes</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Submit Movie</a></li>
        <li><a href="sass.html">Manage Users</a></li>
        <li><a href="sass.html">Log In</a></li>
        <li><a href="sass.html" class='waves-effect waves-light btn'>Sign Up</a></li>
      </ul>
      <ul class="right side-nav" id="mobile-demo">
        <li><a href="sass.html" class='waves-effect waves-light btn'>Sign Up</a></li>
        <li><a href="sass.html">Log In</a></li>
        <li><a href="sass.html">Submit Movie</a></li>
        <li><a href="sass.html">Manage Users</a></li>
      </ul>
    </div>
  </nav>
</header>